# Local development example environment variables

# Okta
OKTA_DOMAIN=your-okta-domain.okta.com
OKTA_API_TOKEN=xxxxx

# AWS
AWS_REGION=us-east-1
# Optional if not using instance role locally
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# CrowdStrike
CROWDSTRIKE_CLIENT_ID=
CROWDSTRIKE_CLIENT_SECRET=

# Tenable
TENEBLE_ACCESS_KEY=
TENEBLE_SECRET_KEY=

# Snyk
SNYK_API_TOKEN=

# Codacy
CODACY_API_TOKEN=

# Jenkins
JENKINS_BASIC_AUTH_B64=

# Jira
JIRA_BASE_URL=https://your-domain.atlassian.net
JIRA_BASIC_AUTH_B64=

# Bitbucket
BITBUCKET_BASIC_AUTH_B64=

# Sumo Logic
SUMO_BASE_URL=https://api.us2.sumologic.com
SUMO_ACCESS_ID=
SUMO_ACCESS_KEY=

# Hyperproof
HYPERPROOF_BASE_URL=https://api.hyperproof.io
HYPERPROOF_API_TOKEN=

